@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1738511560 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1738511560 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 115px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1738511560 .shape-fill {
  fill: #e93037;
}

.custom-shape-divider-top-1738512136 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1738512137 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-top-1738512137 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1738512412 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1738512412 svg {
  position: relative;
  display: block;
  width: calc(205% + 1.3px);
  height: 139px;
}

.custom-shape-divider-top-1738512412 .shape-fill {
  fill: #000000;
}
